<h2>Listado de Pizzas Vendidas el finde</h2>

<ul>
    {{#each products}}
        <li>Title: {{this.title}}</li>
        <li>Descripcion: {{this.description}}</li>
        <li>Code: {{this.code}}</li>
        <li>Price: $ {{this.price}}</li>
        <li>Status: $ {{this.status}}</li>
        <li>Stock: $ {{this.stock}}</li>
        <li>Category: {{this.category}}</li>
        <br>
    {{/each}}
</ul>

        {{#if hasPrevPage}}
            <a href="/products?page={{prevPage}}&limit={{limit}}">Previous</a>
        {{/if}}

        {{#if hasNextPage}}
            <a href="/products?page={{nextPage}}&limit={{limit}}">Next</a>
        {{/if}}

<p>Pagina {{currentPage}} de {{totalPages}}</p>